@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.main-bg {
  background-color: hsl(222, 47%, 11%);
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.site-button {
  background: hsl(255, 100%, 98%);
  border: 1px solid hsl(262, 83%, 58%);
  color: hsl(262, 83%, 58%);
}

.site-button svg {
  transform: translateY(1px);
}

.linked-in-button {
  background: hsl(210, 100%, 97%);
  border: 1px solid hsl(210, 90%, 40%);
  color: hsl(210, 90%, 40%);
}

.linked-in-button svg {
  transform: translateY(1px);
}

.github-button {
  background: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 13%);
  color: hsl(0, 0%, 13%);
}

.github-button svg {
  transform: translateY(1px);
}

.scale-300 {
  transform: scale(3);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: hsl(222, 47%, 11%);
  }
}

@media (max-width: 1440px) {

  .outer-apps-block {
    flex-direction: column;
    padding: 0;
  }

  .inner-apps-block {
    flex-direction: column;
    align-items: center;
  }

  .app-block {
    width: 90%;
  }

  .app-card {
    height: auto;
  }

  .main-bg {
    height: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes gradient-moves {
  0% {
    transform: rotate(-16.02deg);
  }
  50% {
    transform: rotate(-36.02deg);
  }
  100% {
    transform: rotate(-16.02deg);
  }
}